/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    
}

#home-logo
{
    display: block;
    
}

.home-pic
{
    display: inline-block;
    padding: 15px 15px;
    margin: 5px 5px;
    
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#heading
{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    
    width: 700px;
    margin-left: inherit;
    margin-right: inherit;
    
    
}

.section
{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    
    display: block;
    margin: 0px 120px;
}

.table
{
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    font-family: sans-serif;
    font-size: 16px;
    
}

.tablehead
{
    font-weight: bold;
    color: white;
}

td
{
    padding: 5px;
    
}


